*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.container{
    width: 100%;
    height: 950px;
    border: solid 1px black;
    background: #e5e0e0;
}
.logo{
    margin: 10px 40px 5px;
    width: calc(100% - 80px);
    height: 50px;
    background: #a9a3a3;
    display: flex;
    align-items: center;
}
.text-logo{
    margin-left: 20px;
}
.content{
    margin: 10px 40px 10px;
    width: calc(100% - 80px);
    height: 800px;
    display: flex;
    /*justify-content: space-between;*/
    /*background: #a9a3a3;*/
}
.side-nav{
    margin: 10px 0;
    /*margin-right: 10px;*/
    width: calc(100% / 4 - 20px);
    height: 100%;
    display: flex;
}
.text-side{
    margin-top: 100px;
}
.header-body{
    margin: 5px 20px;
    width: 75%;
    height: 100%;
    /*background: #a9a3a3;*/
}
.header{
    margin: 5px 020px 10px;
    width: 100%;
    height: calc(30% - 10px);
    background: #a9a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    margin: 5px 20px 10px;
    width: 100%;
    height: 70%;
    background: #a9a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    margin: 20px 40px 10px;
    width: calc(100% - 80px);
    height: 50px;
    background: #a9a3a3;
    display: flex;
    align-items: center;
}
.text-footer{
    margin-left: 300px;
}
mr-10{
    margin-right: 10px;
}